body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

@font-face {
    src: url("./font/Zefani.otf");
    font-family: "Zedani";
}

@font-face {
    src: url("./font/Metropolis.ttf");
    font-family: "Metropolis";
}
@font-face {
    src: url("./font/nugo.ttf");
    font-family: "nugo";
}

@font-face {
    src: url("./font/Montserrat-Regular.otf");
    font-family: "Montserrat-Regular";
}

#Video img {
    position: absolute;
    background-position: center;
    /* min-width: 100%;
    min-height: 100%; */
    width: 100vw;
    height: auto;
    object-fit: cover;
    background: no-repeat;
    background-size: cover;
    filter: brightness(0.9);
}

#base-text {
    text-align: center;
    color: rgb(28, 52, 230);
    justify-content: center;
    position: absolute;
    top: 25vh;
    /* background-color: rgba(53, 62, 150, 0.3); */
    height: 30vh;
    width: 100vw;
    letter-spacing: 0.3em;
    padding: 2vh 2vw;
    font-family: "Zedani";
    font-weight: 500;
    z-index: 10;
}

h1 {
    font-size: 10em;
}
h2 {
    font-size: 2em;
}

.arrow-down img {
    position: absolute;
    top: 90vh;
    left: 47vw;
    width: 100px;
    height: 100px;
    z-index: 10;
    object-fit: cover;
    filter: brightness(1.5);
}

a.welcome {
    position: absolute;
    left: 4vw;
    top: 5vh;
    font-family: "nugo";
    font-size: 1em;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px rgb(235, 233, 242), 0 0 1em rgb(255, 253, 255),
        0 0 0.2em rgb(31, 31, 188);
    padding: 10px 1em;
    border: rgb(28, 52, 230) 1px solid;
    letter-spacing: 0.05em;
}

a.welcome:hover {
    transform: scale(1.1);
    background-color: rgb(28, 52, 230);
}

/* -------------------------- login page ------------------------------*/

#login-container {
    width: 100vw;
    height: 60vh;
    display: flex;
}

#login-box {
    font-family: "nugo";
    font-size: 1em;
    flex-wrap: wrap;
    display: flex;
    justify-items: left;
    flex-direction: column;
    gap: 5vh;
    width: 40vw;
    height: 60vh;
    left: 60vw;
    /* top: 40vh; */
    z-index: 3;
    padding: 30vh 10vw;
    position: absolute;
}

#login-box input {
    background-color: transparent;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #2a2828 1px;
    padding: 3px 10px;
    width: 15vw;
}

.error {
    color: orangered;
}

button {
    width: 15vw;
    height: 4vh;
    font-size: 1em;
    background-color: rgb(28, 52, 230);
    font-weight: bolder;
    color: white;
    border: rgb(28, 52, 230) 2px solid;
}
button:hover {
    background-color: #f34317;
    border: #f34317 5px solid;
    transform: scale(1.1);
}

#login-right {
    width: 60vw;
    height: 60vh;
    background-color: rgb(255, 255, 255);
}
#login-right img {
    width: 60vw;
    height: auto;
    object-fit: cover;
    z-index: 2;
    margin-top: 10vh;
    position: absolute;
    animation: linear;
    animation-name: sidein;
    animation-duration: 2s;
    /* transition: all 0.2s ease-in-out; */
}

@keyframes sidein {
    0% {
        left: -60vw;
    }
    100% {
        left: 0vw;
    }
}

/* ------------------------- Password-Reset Page--------------------------------- */

#reset-box {
    font-family: "nugo";
    font-size: larger;
    width: 40vw;
    height: 100vh;
    position: absolute;
    left: 3vw;
    padding: 25vh 6vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    place-items: center;
}

#reset-box input {
    padding: 3px 10px;
    width: 15vw;
    height: 4vh;
}

#reset-right {
    width: 50vw;
    height: 100vh;
    position: absolute;
    right: 0;
    padding: 20vh 3vw;
}

#reset-right img {
    width: 30vw;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: 13vw;
    border-radius: 50%;
}
/* -------------------- Board ---------------------- */

#board {
    width: 90vw;
    height: 330vh;
    overflow-y: scroll;
    background-color: white;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

/* -------------------- (About us) ---------------------- */

.about-us {
    width: 90%;
    height: 210vh;
    flex-wrap: wrap;
    padding-left: 5vw;
    /* background-color: cornflowerblue; */
}
.about-us h1 {
    font-size: 4em;
}

.about-us h4 {
    font-family: "nugo";
    font-weight: 100;
    font-size: 1.5em;
    letter-spacing: 0.01em;
}

.about-us h3 {
    position: absolute;
    right: 8vw;
    font-size: 3em;
    color: rgb(28, 52, 230);
    width: 40%;
    margin-top: 12vh;
    margin-left: 5vw;
}

.ai-img {
    width: 45vw;
    height: auto;
    margin-left: 5vw;
}

.lab-img img {
    width: 60vw;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: 20vw;
}
/* -------------------- News ---------------------- */

.news {
    width: 100%;
    height: 120vh;
    margin-top: 40vh;
    padding-left: 4vw;
    /* background-color: rgba(214, 228, 86, 0.4); */
}

.news header {
    width: 100%;
    height: 12vh;
    background: url(./img/header.jpeg);
    filter: brightness(0.3);
}

.news h2 {
    color: rgb(255, 255, 255);
    z-index: 10;
    position: absolute;
    margin-left: 42vw;
    top: 333vh;
    font-family: "nugo";
    letter-spacing: 0.1em;
}
#news-container {
    display: flex;
    width: 100%;
    height: 60vh;
    z-index: 100;
    justify-content: space-evenly;
    margin-top: 10vh;
}
.news-box {
    width: 27vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    font-size: medium;
}
.news-box img {
    width: 27vw;
    height: auto;
    object-fit: cover;
}
.news-box a {
    text-decoration: none;
    color: black;
    font-family: "Montserrat-Regular";
    font-size: 2em;
}

.news-box a:hover {
    transform: scale(1.05);
    box-shadow: 0px 3px 20px 10px rgba(22, 15, 159, 0.3);
    color: orangered;
}

/* -------------------- FOOTER ---------------------- */

#contact img {
    width: 40vw;
    height: auto;
}

footer {
    margin-bottom: 1vh;
    height: 6vh;
    width: 100vw;
    background: black;
    color: white;
    line-height: 6vh;
    text-align: center;
    letter-spacing: 0.1em;
    font-family: "nugo";
    font-size: 1.2em;
}

/* -------------------- Models  page---------------------- */

#models-base {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(3, 30%);
    overflow-y: scroll;
    gap: 6vh;
    padding: 3vw;
    margin-left: 5vw;
}

#models-base a {
    text-decoration: none;
    color: rgb(14, 14, 73);
    font-size: 18px;
    font-family: "Didot";
    font-weight: lighter;
}
.models img {
    object-fit: cover;
    width: 16vw;
    height: 36vh;
    filter: grayscale();
}

.models img:hover {
    filter: none;
    transform: scale(1.1);
    box-shadow: 0px 3px 20px 10px rgba(33, 33, 34, 0.3);
}

/* -------------------- Profile  page---------------------- */

#profile-page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
}

.profile-text {
    width: 40vw;
    height: 100vh;
    padding-left: 6vw;
    display: list-item;
    font-family: "Montserrat-Regular";
}

.profile-text h1 {
    font-size: 4em;
}

.profile-text h4 {
    font-size: 1.2em;
}
.model-profile {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.model-profile img {
    width: 60vw;
    height: auto;
    object-fit: cover;
}

/* --------------------  Navibar ---------------------- */

.navibar {
    background: transparent;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem calc((100vw - 1000px) / 2);
    z-index: 12;
}

.navibar a {
    border-radius: 4px;
    background: black;
    padding: 10px 22px;
    color: rgb(242, 238, 238);
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-left: 24px;
    font-family: "Metropolis";
}
.navibar a:hover {
    /* transform: scale(1.3);
    cursor: pointer; */
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #808080;
}

/* --------------------  AI search ---------------------- */

#ai-page {
    background: black;
    color: white;
    width: 100vw;
    height: 120vh;
    padding: 3vw;
    display: flex;
}
.uploader-box {
    /* background-color: rgb(246, 219, 63); */
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-family: sans-serif;
    margin-right: 3vw;
}

.uploader-box h4 {
    color: orangered;
}

.uploader-box img {
    width: 35vw;
    height: auto;
    z-index: 20;
}

.match-board {
    /* background: yellow; */
    width: 60vw;
    height: 90vh;
    z-index: 50;
    overflow-y: scroll;
    margin-left: 3vw;
    padding: 5vw;
    display: grid;
    place-items: center;
}

.match_models img {
    width: 36vw;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    z-index: 30;
}

/* -------------------- poppy  ---------------*/

#poppy {
    width: 100vw;
    height: 150vh;
    padding: 6vw;
}
/* #poppy img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 3;
} */

.poppy-container {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(4, 28%);
    padding: 3vw;
}
.poppy-container img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    z-index: 3;
    border-radius: 50%;
}
.thanks img {
    width: 30vw;
    height: auto;
    position: absolute;
    left: 65vw;
}
